body {
    background-color: #000;
    font-family: "VT323", monospace;
    margin: 0;
}

header {
  background-color: #c745d8;
  padding: 0.6em 1.4em;
}



h1 {
    font-size: 2.1rem;
    color: #fff;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

h2 {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0;
  font-weight: bold;
}




 
.table-section p, ul{
    color: #fff;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}



.table-section{
    margin: auto;
    width: 100%;
}



table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-top: 3%;
  }
  
  table caption {
    font-size: 1.6em;
    margin: .5em 0 .75em;
  }
  
  table thead tr {
    background-color: #000;
    color: #c745d8;
    border: 1px solid #ddd;
    font-size: 22px;
  }

  table tr {
    background-color: #000;
    color: #ffffff;
    border: 1px solid #ddd;
    padding: .30em;
  }
  
  table th,
  table td {
    padding: 12px;
    text-align: left;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }


  .footer-basic {
    margin-top: 2%;
    padding:20px 0;
    background-color: #c745d8;
    color:#000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-basic .copyright {
    font-size:14px;
    color:rgb(0, 0, 0);
    margin-bottom:12px;
  }
  

  @media (max-width: 1024px) {

      table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: auto;
        padding: 0;
        width: 96%;
        table-layout: fixed;
        margin-top: 4%;
      }

  }

@media (max-width: 768px) {
 

  table {
      border: 0;
      width: 90%;
    }

    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
}


              